<div class="card card-question mt-4">
    <div class="card-body">
        <h5 class="card-title mb-2">{{question.title}}</h5>
        <input type="date" placeholder="Your answer" class="form-field" name="{{question.name}}">
    </div>
</div>