<div class="card card-question mt-4">
    <div class="card-body">
        <h5 class="card-title mb-2">{{question.title}}</h5>
        <select name="{{question.name}}" class="form-control">
            {% for option in question.parameters['options'] %}
            <option value="{{option}}" {%- if loop.index==1 %} selected{% endif %}>{{option}}</option>
            {% endfor %}
        </select>
    </div>
</div>