<div class="card card-question mt-4">
    <div class="card-body">
        <h5 class="card-title mb-2">{{question.title}}</h5>
        <input type="email" {% if question.parameters['placeholder'] -%} 
                                placeholder="{{question.parameters['placeholder']}}" 
                            {%- else -%} 
                                placeholder="email@example.com" 
                            {%- endif -%}
                            class="form-field">
    </div>
</div>