<input {% if question.required %}required{% endif %} type="number" {% if question.parameters['max'] != null %} max="{{question.parameters['max']}}"{%  endif %}{% if question.parameters['min'] != null %} min="{{question.parameters['min']}}"{%  endif %} class="form-field" name="{{question.name}}" {% if question.parameters['placeholder'] %} placeholder="{{question.parameters['placeholder']}}" {% else %} placeholder="Your answer" {% endif %}>