$(document).ready(function(){
    $('#submitBtn').click(function () {
		$.ajax({
			url: '{{survey.submit_url}}',
			type: 'POST',
			data: $('#myForm').serialize(),
			success: function(){
				$('#myForm')[0].reset();

				$("#successAlertBox").fadeIn();
				closeSuccessAlertBox();
			},
			error: function (message) {
				$("#errorAlertBox").fadeIn();
				closeErrorAlertBox();
			}
		});
		return false;		
	})

	$('.alert-close').click(function(){
		$(this).parent().hide();
	})
});

function closeSuccessAlertBox(){
	window.setTimeout(function () {
	  $("#successAlertBox").fadeOut(300)
	}, 3000);
}

function closeErrorAlertBox(){
	window.setTimeout(function () {
	  $("#errorAlertBox").fadeOut(300)
	}, 3000);
}