<div class="card card-question mt-4">
    <div class="card-body">
        <h5 class="card-title mb-2">{{question.title}}</h5>
        {% if question.parameters['multiline'] %}
        <textarea class="form-field" placeholder="Your answer"></textarea>
        {% else %}
        <input type="text" placeholder="Your answer" class="form-field">
        {% endif %}
    </div>
</div>