<!-- Generated based on the template: {{ self._TemplateReference__context.name }} -->
<input {% if question.required %}required{% endif %} type="time" placeholder="Your answer" class="form-field" name="{{question.name}}">