<!-- Generated based on the template: {{ self._TemplateReference__context.name }} -->
<input {% if question.required %}required{% endif %} type="email" name="{{question.name}}" {% if question.parameters['placeholder'] -%} 
                        placeholder="{{question.parameters['placeholder']}}" 
                    {%- else -%} 
                        placeholder="email@example.com" 
                    {%- endif -%}
                    class="form-field">
